/*This part is the sytle paragraph*/
p {
	color:blue;
	background:red;
	font-size:50px;
	text-align:center;
	text-shadow: 5px 5px #00ff00;
}

ol{
	list-style-type: upper-roman;
	text-shadow: 5px 5px #00ff00;
}

ul{
	list-style-type:square;
	text-shadow: 5px 5px #00ff00;
}

